/* $primary-color: #675fe3ff; */
/*$primary-color: #009688ff;
 $secondary-color: #2a2b2e;
$tertiary-color: #d72638;
$light: #f7f4ea;
$pure-white : #fff;
$linear-gradient : linear-gradient(135deg, hsla(174, 100%, 29%, 1) 0%, hsla(120, 100%, 7%, 1) 100%); 

 $light: rgb(229, 233, 223); 
 background: hsla(174, 100%, 29%, 1);

 */
/* 
MEDIA QUERY MANAGER
0 - 600px - Phone
600-900px: - Tablet potrait
900-1200px: - Tablet Landscape
1200 - 1800px: Desktop first version already written(default)
>= 1800px: Big Desktop screens


1em = 16px
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }
  @media (max-width: 56.25em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 34.25em) {
    html {
      font-size: 50%; } }

.container {
  max-width: 140rem;
  padding: 0 12rem;
  margin: 0 auto; }
  @media (min-width: 112.5em) {
    .container {
      min-width: 180rem;
      padding: 0 20rem; } }
  @media (max-width: 56.25em) {
    .container {
      padding: 0 8rem; } }
  @media (max-width: 43.75em) {
    .container {
      padding: 0 5rem; } }
  @media (max-width: 20.75em) {
    .container {
      padding: 0 2.5rem; } }

.logo__img {
  height: 5rem;
  width: auto;
  padding-top: 1rem; }

body {
  background-color: #faf5f0;
  color: #020202ff;
  line-height: 1.6;
  font-size: 1.6rem;
  font-family: 'Nunito','Montserrat','Roboto', sans-serif; }
  @media (min-width: 112.5em) {
    body {
      font-size: 2.5rem; } }

h1, h2, h3, h4 {
  line-height: 1.3;
  font-family: 'Montserrat', 'Catamaran', sans-serif;
  color: #020202ff; }

.primary-header {
  font-size: 3rem;
  color: #282838;
  text-transform: uppercase;
  /*  -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(135deg, hsla(174, 100%, 29%, 1) 0%, hsla(120, 100%, 7%, 1) 100%); 
    color: transparent; */ }

.secondary-header {
  font-size: 3.3rem;
  color: #020202ff; }

.center-div {
  display: flex; }
  .center-div a {
    margin: 0 auto; }

.about-me {
  margin-bottom: 2rem; }

a {
  text-decoration: none;
  cursor: pointer; }

.m-r-small {
  margin-right: 2rem; }

.t-center {
  text-align: center; }

.m-b-small {
  margin-bottom: 2rem; }

.m-t-small {
  margin-top: 2rem; }

.m-b-medium {
  margin-bottom: 4rem; }

.m-b-big {
  margin-bottom: 8rem; }

.p-b-small {
  padding-bottom: 2rem; }

.p-t-small {
  padding-top: 2rem; }

.t-white {
  color: #faf5f0; }

.color-primary {
  color: #0074f0; }

.color-tertiary {
  color: #ffad05ff; }

.dark-red {
  color: #9A031E; }

.us-text-transform {
  text-transform: initial; }

.col-1-of-2 {
  justify-content: center; }

.order-2 {
  order: 2; }

.btn {
  padding: 1.5rem 2.5rem;
  border-radius: 2rem;
  font-weight: bold;
  transition: all 1s ease-in;
  /*  &_secondary{

    } */ }
  .btn__primary {
    background-color: #0074f0;
    color: #faf5f0; }
    .btn__primary:hover {
      background-color: #001124;
      border: none;
      color: #faf5f0; }
  .btn__light {
    background-color: #faf5f0;
    color: #020202ff; }
    .btn__light:hover {
      background-color: #d9d9d9;
      border: none;
      color: #020202ff; }
  .btn__transperant {
    border: 1px solid #faf5f0;
    color: #ffad05ff; }
    .btn__transperant:hover {
      background-color: #ffad05ff;
      border: none;
      color: #020202ff; }
  .btn__tertiary {
    background-color: #ffad05ff;
    color: #020202ff; }
    .btn__tertiary:hover {
      background-color: #ffc652;
      border: none;
      color: #020202ff; }
  .btn__view {
    color: #fff;
    border-radius: 0;
    background-color: #2F2E41;
    padding: 1rem .5rem; }

.past-clients {
  padding: 5rem 0;
  background-color: #fff; }
  .past-clients .row {
    display: flex;
    align-items: center;
    justify-content: center; }
    .past-clients .row img {
      width: 4.5rem;
      height: auto;
      margin-right: 10rem; }
      @media (max-width: 36em) {
        .past-clients .row img {
          width: 4rem; }
          .past-clients .row img:not(:last-child) {
            margin-right: 5rem; }
          .past-clients .row img:last-child {
            margin-right: 0; } }
      @media (max-width: 19.38em) {
        .past-clients .row img {
          width: 3rem; }
          .past-clients .row img:not(:last-child) {
            margin-right: 2rem; } }

.section-why {
  padding: 10rem 0 10rem 0; }
  .section-why ul {
    list-style-type: none; }
  .section-why i {
    color: #0074f0; }
  .section-why .why-img {
    display: flex; }
    .section-why .why-img img {
      max-width: 90%;
      width: 90%;
      height: auto; }
      @media (max-width: 43.75em) {
        .section-why .why-img img {
          width: 65%;
          margin: 0 auto; } }

.section-about {
  padding: 10rem 0 10rem 0;
  background-color: #faf5f0; }
  .section-about .right {
    text-align: center;
    line-height: 1.9; }
  .section-about .left h1 {
    padding-top: 2rem;
    font-size: 4rem; }
    .section-about .left h1::before {
      content: " ";
      display: block;
      width: 4rem;
      border: 2px solid #020202ff; }
  @media (max-width: 34.25em) {
    .section-about .left {
      display: none; } }

.methodology {
  padding: 10rem 0;
  background-color: #fff; }
  @media (max-width: 56.25em) {
    .methodology {
      padding: 10rem 0; } }

.portfolio {
  background-color: #fff;
  padding: 10rem 0 10rem 0; }

.section-testimonial {
  padding: 10rem 0 10rem 0;
  background-color: #faf5f0;
  /* #00127A; */
  /* rgb(70, 69, 88); */ }
  .section-testimonial .testimonial {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between; }
    .section-testimonial .testimonial__img {
      border-radius: 50%;
      justify-self: center; }
    @media (max-width: 48em) {
      .section-testimonial .testimonial img {
        width: 80%; } }
    @media (max-width: 40.63em) {
      .section-testimonial .testimonial {
        grid-template-columns: 1fr; }
        .section-testimonial .testimonial img {
          width: 30%;
          margin: 0 auto; } }
    @media (max-width: 23.44em) {
      .section-testimonial .testimonial img {
        width: 55%; } }
  .section-testimonial .testifier__message {
    margin-top: 4rem; }

.section-cta {
  padding: 10rem 0 10rem 0;
  background-color: #0b81ff;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center; }

.section-blog {
  padding: 10rem 0 10rem 0;
  background-color: #fff; }

.methodology-wrapper {
  text-align: center;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 3rem; }
  .methodology-wrapper svg {
    color: #0074f0; }

.skill-set {
  padding: 10rem 0 10rem 0;
  background-color: #0074f0; }

.skill-right img {
  width: 100%; }

@media (max-width: 43.75em) {
  .skill-right {
    display: none; } }

.col-skill {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #fff;
  transition: transform ease-in 1s; }
  @media (max-width: 43.75em) {
    .col-skill {
      align-items: center; } }
  .col-skill:hover {
    transform: scale(1.2, 1.2); }
  .col-skill small {
    font-weight: 600; }

.card {
  box-shadow: 1px .3rem 1.5rem #4d4647;
  padding: 1rem;
  border-radius: .5rem;
  overflow: hidden; }
  .card__img-container {
    background-color: white; }
  .card__img {
    width: 100%;
    height: auto;
    transition: transform 1s ease-out;
    border-radius: 1rem; }
    .card__img:hover {
      transform: scale(1.2, 1.2); }
  .card__content {
    border-top: 1px solid #020202ff; }
    .card__content__summary {
      padding-bottom: 2rem; }

.tech-stack {
  margin-top: 2rem; }
  .tech-stack li {
    display: inline; }

.blog-card {
  box-shadow: 0px 3px 1rem #020202ff;
  padding: 3.5rem 2rem;
  border-radius: 1rem; }
  .blog-card__text {
    padding-bottom: 4rem; }

.navbar {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  padding: 3rem 8rem;
  align-items: center;
  height: 5.5rem;
  color: #020202ff; }
  @media (max-width: 56.25em) {
    .navbar {
      padding: 0 5rem 0 8rem; } }

.list-group {
  display: flex;
  justify-content: space-around;
  list-style: none; }
  @media (max-width: 43.75em) {
    .list-group {
      display: none; } }
  .list-group__item {
    display: inline-block;
    padding: 0 2rem; }
    .list-group__item a {
      text-decoration: none;
      color: #020202ff;
      font-weight: bold;
      cursor: pointer;
      transition: all 1s ease; }
      .list-group__item a:hover {
        color: #020202ff;
        border-bottom: 2px solid #020202ff;
        padding-bottom: 1rem; }

header {
  /* background: linear-gradient(135deg, hsla(174, 100%, 29%, 1) 0%, hsla(225, 5%, 17%, 1) 100%); */
  /*   background-color: #675FE3;  */
  /* #2153CC; */
  background: linear-gradient(125deg, #0074f0 0%, #292a2e 100%);
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  color: #020202ff;
  justify-content: space-between;
  padding: 0 8rem; }
  @media (max-width: 56.25em) {
    header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      header .right {
        display: none; } }
  @media (max-width: 28.75em) {
    header {
      padding: 0 4rem;
      background: url("../img/header4-small.jpg");
      background-size: cover;
      background: linear-gradient(125deg, #0074f0 0%, #292a2e 100%); } }

.header__content {
  color: #faf5f0; }
  .header__content--heading {
    font-size: 5rem;
    color: #faf5f0; }
    @media (max-width: 19.38em) {
      .header__content--heading {
        font-size: 3.5rem; } }
  .header__content--small {
    font-size: 2rem;
    color: #faf5f0; }
  .header__content--position {
    padding-bottom: 2rem;
    font-size: 2rem;
    color: #ffad05ff; }
  .header__content p {
    margin-bottom: 5rem; }
    @media (max-width: 20.75em) {
      .header__content p {
        display: none; } }

.c-t-a__btn {
  margin: 3rem 0; }
  .c-t-a__btn svg {
    color: #020202ff; }
  @media (max-width: 20.75em) {
    .c-t-a__btn :last-child {
      display: none; } }

.quick_link {
  color: #faf5f0;
  padding-right: 1rem; }

.right img {
  width: 100%;
  max-width: 100%;
  height: auto; }

.grid-1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 3rem; }
  @media (max-width: 43.75em) {
    .grid-1-2 {
      grid-template-columns: 1fr; } }

.grid-3-1-1-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem 3rem; }
  @media (max-width: 56.25em) {
    .grid-3-1-1-1 {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 3rem 4rem; } }
  @media (max-width: 34.25em) {
    .grid-3-1-1-1 {
      grid-template-columns: 1fr; } }

.grid-3-methodology {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem 3rem; }
  @media (max-width: 36em) {
    .grid-3-methodology {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 3rem 4rem; } }
  @media (max-width: 23.44em) {
    .grid-3-methodology {
      grid-template-columns: 1fr; } }

.grid-4-1-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem; }
  @media (max-width: 19.38em) {
    .grid-4-1-1 {
      grid-template-columns: repeat(3, 1fr); } }

.grid-2-1-1 {
  display: flex;
  grid-gap: 2rem;
  flex-flow: row-reverse;
  place-items: center; }
  @media (max-width: 56.25em) {
    .grid-2-1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr; } }
  @media (max-width: 43.75em) {
    .grid-2-1-1 {
      grid-template-columns: 1fr; }
      .grid-2-1-1 .col-1-of-2-left {
        order: 2; } }

.grid-1-of-3 i {
  color: #0075F2;
  padding-right: 1.5rem; }

footer {
  background-color: #0074f0;
  padding: 5rem 10rem;
  color: #faf5f0;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 43.75em) {
    footer {
      padding: 5rem; } }
  @media (max-width: 42.5em) {
    footer {
      flex-direction: column;
      text-align: center; } }
  @media (max-width: 23.44em) {
    footer {
      padding: 3rem .5rem; } }

.flex {
  display: flex; }
  .flex svg {
    color: #0074f0;
    margin: 1rem 1rem 0 0; }
